extends layout

block content
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    #{menu|safe}
    br
    h1 #{title}
    table
        tr
            td  #{graphavg|safe} #{graph|safe} #{graphalg|safe}
    