extends layout

block content
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    br
    if msg==''
        form(id='airportsform', name='airportsform',action='.', class='form-inline', method='POST', enctype='multipart/form-data')
            .form-group
                {{ form.csrf_token }}
                {{ form.airports() }}
                button(type="submit", value="Go", class="btn btn-default") Go
    else
        #{msg}
    inline You can use previous results:
    select(id="prevmaps")
        if departure==None
            option(value='0' selected='selected') 
        for x in previous
            if departure!=None and departure.id==x.id
                option(value='%s'%x.id, selected='selected') #{x.country} - #{x.code}
            else
                option(value='%s'%x.id) #{x.country} - #{x.code}
    if departure!=None
        h1 #{departure.country} - #{departure.code}, #{departure.city}
    #{mapcost|safe} 
    #{mapduration|safe} 
    #{mapeasiness|safe}

block scripts
    script
        $(function(){
            $('#prevmaps').on('change', function () {
                var id = $(this).val();
                if (id) {
                    window.location = '/jobs/maps/?did='+id;
                }
                return false;
            });
        });